metastore_db
derby.log
.DS_Store
__pycache__
.pytest_cache
.serverless
node_modules
package-lock.json
.python-version
poetry.lock
htmlcov
.coverage
.aws-sam
.env
bsーdataengineering-foundamental.mp4
bsーdataengineering-foundamental_minutes.md
go.sum
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.context.json
cdk.out

.terraform
.terraform.lock.hcl
terraform.tfvars
