# CDK
cdk/node_modules/
cdk/cdk.out/
cdk/*.js
cdk/*.d.ts
cdk/lib/*.js
cdk/lib/*.d.ts
cdk/bin/*.js
cdk/bin/*.d.ts

# Go
resources/lambda/duckdb-processor/go.sum
resources/lambda/duckdb-processor/bootstrap

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
response.json
